*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1600px;
    margin: auto;
}

/* start of banner */
.banner{
    height: 91vh;
    background-image: url("../img/sa-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner-title{
    text-align: center;
    padding: 250px 0;
    font-size: 100px;
    color: rgba(174, 0, 255, 0.815);
}
.banner-title span{
    color: rgb(0, 81, 255);
    font-size: 100px;
}
.banner-title p{
    font-size: 25px;
    padding: 20px;
    color: #000;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .container{
        width: 768px;
        margin: auto;
    }
    .banner-title{
        text-align: center;
        padding: 350px 0 !important;
        font-size: 40px !important;
        color: rgba(174, 0, 255, 0.815);
    }
    .banner-title span{
        color: rgb(0, 81, 255);
        font-size: 40px !important;
    }
    .banner-title p{
        font-size: 20px !important;
        padding: 20px;
        color: #000;
    }  
}
@media (max-width:  767px) and (min-width:  375px) {
    .container{
        width: 375px;
    }
    .banner{
        height: 100vh;
        background-image: url("../img/sa-min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .banner-title{
        text-align: center;
        padding: 330px 0;
        font-size: 30px;
        color: rgba(174, 0, 255, 0.815);
    }
    .banner-title span{
        color: rgb(0, 81, 255);
        font-size: 30px;
    }
    .banner-title p{
        font-size: 10px;
        padding: 10px;
        color: #000;
    } 
}
